@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroundPrimary: #ffffff;
  --backgroundSecondary: #e6e9ed;
  --textPrimary: #111132;
  --textSecondary: #64748b;

  --brighnessHover: 0.95;
  --brightnessPress: 1.05;
  --brightnessDisabled: 0.75;
}

[data-theme="dark"] {
  --backgroundPrimary: #0f172a;
  --backgroundSecondary: #363638;
  --textPrimary: #ebebeb;
  --textSecondary: #bdbdbd;

  --brighnessHover: 1.1;
  --brightnessPress: 0.9;
  --brightnessDisabled: 0.75;
}

img {
  -drag: none;
  -webkit-user-drag: none;
}
